* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #FAEBD7;
  color: #8B4513;
}

#t-list {
  display: grid;
  height: 100%;
}

#t-list img {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

input {
  padding: 0.5em;
  background: #8B4513;
  color: white;
  margin: 1em;
}
